# dependencies
node_modules/

# Next.js build output
.next/
out/
build/

# IDE and OS files
.DS_Store
*.pem
.vscode/

# WordPress core, database, and transient files in backend
backend/wp-admin/
backend/wp-includes/
backend/wp-content/uploads/
backend/wp-content/cache/
backend/wp-content/upgrade/
backend/wp-content/ai1wm-backups/
backend/wp-content/languages/
backend/wp-config.php
backend/*.zip
backend/*.gz
backend/*.sql
backend/index.php
backend/license.txt
backend/readme.html
backend/wp-activate.php
backend/wp-blog-header.php
backend/wp-comments-post.php
backend/wp-cron.php
backend/wp-links-opml.php
backend/wp-load.php
backend/wp-login.php
backend/wp-mail.php
backend/wp-settings.php
backend/wp-signup.php
backend/wp-trackback.php
backend/xmlrpc.php

# env files
.env*

# vercel
.vercel
